    
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <footer class="footer" id="footer">
        <hr>
        <div class="">
            <div>
                <p class="ml-3 text-muted">© 2019 Vince Frost</p>
            </div>
        </div>
    </footer>
</body>
</html>