<% include partials/header %>

<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger my-3" role="alert">
            <%= error %>
        </div>
    <% } %>
</div>
<div class="container">
    <h1 class="text-center my-3">Login</h1>
    <form action="/login" method="POST">
        <div class="form-signup mx-auto">
            <div class="form-row">
                <div class="form-group mx-auto col-md-6">
                    <label for="inputEmail2">Username</label>
                    <input id="inputEmail2" class="form-control" placeholder="Username" type="text" name="username" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mx-auto col-md-6">
                    <label for="inputPassword2">Password</label>
                    <input id="inputPassword2" class="form-control" placeholder="Password" type="password" name="password" required>
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary my-3">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>

<% include partials/footer %>